@font-face {
    font-family: 'bree';
    src: url('font/breeserif-regular-webfont.eot');
    src: url('font/breeserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/breeserif-regular-webfont.woff') format('woff'),
         url('font/breeserif-regular-webfont.ttf') format('truetype'),
         url('font/breeserif-regular-webfont.svg#bree_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	/*background-color: rgb(31, 54, 33);*/
	background-color: rgb(134, 145, 150);
	height: 100%;
}

a {
	/*color: rgb(255, 255, 255);*/
}

#displayBar {
	/*z-index: 100;
	position: relative;
	top: 200px;
	left: 400px;
	width: 500px;
	height: 300px;
	background-color: #889988;*/
	background: #DDDCCE;
	z-index: 100;
	display: none;
	padding: 25px;
	width: 350px;
	position: fixed;
	right: 0px;
	top: 70px;
	height: 100%;
	box-shadow: 3px 3px 5px 6px #493131;
	text-align: center;
}

#displayBar h2 {
	text-decoration: underline;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 2.0em;
}

#editBar {
	background: #DDDCCE;
	z-index: 100;
	display: none;
	padding: 25px;
	width: 350px;
	position: fixed;
	right: 0px;
	top: 70px;
	height: 100%;
	box-shadow: 3px 3px 5px 6px #493131;
	text-align: center;
}

#topBar {
	background: #EBE4D6;
	z-index: 101;
	display: block;
	padding: 13px;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 40px;
	box-shadow: 0px 3px 1px 0px #493131;
}

#editBar label {
	width: 80px;
	text-align: right;
	display: inline-block;
}

#cityDescEd {
	width: 85%;
	margin-left: 28px;
	margin-right: 15px;
	height: 142px;
}

.colorSwatch {
	width: 1em;
	height: 1em;
	float: left;
	cursor: pointer;
	border: 1px black solid;
}