@font-face {
    font-family: 'bree';
    src: url('font/breeserif-regular-webfont.eot');
    src: url('font/breeserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/breeserif-regular-webfont.woff') format('woff'),
         url('font/breeserif-regular-webfont.ttf') format('truetype'),
         url('font/breeserif-regular-webfont.svg#bree_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	/*background-color: rgb(31, 54, 33);*/
	background-color: rgb(134, 145, 150);
	height: 100%;
}

a {
	/*color: rgb(255, 255, 255);*/
}

#editBar {
	background: #DDDCCE;
	z-index: 100;
	display: block;
	padding: 25px;
	width: 350px;
	position: fixed;
	right: 0px;
	top: 70px;
	height: 100%;
	box-shadow: 3px 3px 5px 6px #493131;
}

#topBar {
	background: #EBE4D6;
	z-index: 101;
	display: block;
	padding: 13px;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 40px;
	box-shadow: 0px 3px 1px 0px #493131;
}
